<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    <strong>2020</strong>
    <a href="http://www.linnamae.tln.edu.ee/">Таллиннский Линнамяэский Русский Лицей</a>
  </div>
</footer>
