<div style="background-color:#F8F9FA;">

 {{>navbar about='active'}}

<div class = "container-fluid border mr-3 text-center" >

<h3><b> Дорогие выпускники, родители, друзья лицея/гимназии/родной 64-ой! </b></h3>

Присылайте весточку: где вы сейчас, где успели поработать и проявить знания-умения, полученные в школе. Карта с вашими именами станет украшением школы и примером для юных лицеистов.
</div>
<div class="embed-responsive embed-responsive-16by9 container-fluid" style= "height: 80%">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cQyd6zCfDWk" allowfullscreen></iframe>
</div>
  {{>footer}}
</div>