<div style="background-color:#F8F9FA;">
 <!–– NAVBAR––>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TLVL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="map">Карта<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active"  href="about">О сайте<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="reg">Регистрация</a>
      <a class="nav-item nav-link" href="login">Вход</a>
    </div>
  </div>
</nav>
 <!–– END OF NAVBAR––>

 <!–– ABOUT––>

<div class = "container-fluid border mr-3" >
Lorem ipsum dolor sit amet, vim quando nusquam suscipit id. Labore invidunt sit in, modus nominati definiebas te pri. Ne eum duis veritus, ius wisi assentior theophrastus ei, dicta eruditi inermis eu his. Cu cum porro mundi referrentur, mea iisque prodesset ei. At doctus molestie expetendis pro, sit mazim molestiae ex. Vidit dignissim duo ne.

Usu latine consectetuer at, ludus facete cum eu. Ea appetere invenire adipiscing has, purto nonumes volumus eu pri, agam primis conclusionemque ad usu. Cu nec aliquip omnesque, mei ut reque labitur. Aliquam consequuntur nam ut, at facete equidem tacimates mel. Qui an erat illud ullamcorper, saepe pertinax nec te, ad mea regione aperiam intellegam.

Meliore appetere molestiae et sea. Quis liber vidisse te sea. Liber percipit an ius, nam aliquando tincidunt ea, et eam nemore recteque. Iriure omnesque ei nam, no mei possim expetendis. Per quot dolores no, dico adipisci consetetur in sea. Et nec option aperiam abhorreant.

Id pro probatus sententiae dissentiet. No dicta mollis facilis sed. Ius ad vero alterum, mea cu iisque quaestio consequat, ea per erat fugit accumsan. Cum ut congue putent alienum. Te primis consequuntur usu. Cu omnis nihil mentitum cum, has te legere incorrupte concludaturque, ludus prompta sed ei.

In nec harum dolorum signiferumque, modus ipsum ubique sea ea. Detraxit incorrupte ullamcorper eu sit. Eu his saepe scripta, ut esse magna labitur eum, odio detraxit theophrastus quo ad. Eu molestie appareat vix.
</div>
  <!–– END OF ABOUT––>

 <!–– FOOTER––>

 <footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3"> <b>2019</b> Таллиннский Линнамяэский Русский Лицей:
    <a href="http://www.linnamae.tln.edu.ee/ "> http://www.linnamae.tln.edu.ee/ </a>
  </div>
</footer>
  <!–– END OF FOOTER––>
</div>