<div style="background-color:#F8F9FA;">
 <!–– NAVBAR––>
 {{>navbar login='active'}}
 <!–– END OF NAVBAR––>

  <!–– LOGIN FORM––>
 <div class="container border" >
    <form class="form-horizontal " role="form" method="POST" action="/register">
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail </label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="name@mail.com" required autofocus oninvalid="this.setCustomValidity('E-mail не может быть пустым')">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                          
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Пароль</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Пароль" required oninvalid="this.setCustomValidity('Пароль не может быть пустым')">
                    </div>
                </div>
            </div>
        </div>
      
      
       
    
       
        <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plu "></i> Войти</button>
            </div>
        </div>
    </form>
   

</div>
  <!–– END OF LOGIN FORM––>

 <!–– FOOTER––>

 <footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3"> <b>2019</b> Таллиннский Линнамяэский Русский Лицей:
    <a href="http://www.linnamae.tln.edu.ee/ "> http://www.linnamae.tln.edu.ee/ </a>
  </div>
</footer>
  <!–– END OF FOOTER––>
 

</div>
