<div style="background-color:#F8F9FA;">
  {{>navbar map='active'}}

  <div class = "container-fluid mr-3 " style="width: max-width; height: 560px">
   <div id="mapid">
   </div>
  </div>
  {{>footer}}
  <script src="/js/map.js"></script>
  {{#each locations.locations as |item i|}}

  <script>

</script>

{{/each}}
</div>
