<div style="background-color:#F8F9FA;">
  {{>navbar map='active'}}


  <div class = "container-fluid mr-3">
    <div id="map" style="width: max-width; height: 560px"></div>
  </div>

  {{>footer}}
  <script src="/js/map.js"></script>
</div>
