
   
<div style="background-color:#F8F9FA;">
 <!–– NAVBAR––>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TLVL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
<a class="nav-item nav-link " href="map">Карта</a>
      <a class="nav-item nav-link" href="about">О сайте</a>
      <a class="nav-item nav-link active" href="reg">Регистрация<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="login">Вход</a>
    </div>
  </div>
</nav>
 <!–– END OF NAVBAR––>

  <!–– REGISTRATION FORM––>
 <div class="container">
    <form class="form-horizontal" role="form" method="GET" action="/register">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class = "text-center">Регистрация</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Имя, Фамилия</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Павел Гуляев" required="" autofocus oninvalid="this.setCustomValidity('Имя и Фамилия обязательны')"
 oninput="setCustomValidity('')"  >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail </label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="name@mail.com" required oninvalid="this.setCustomValidity('Электронная почта обязательна')"
 oninput="setCustomValidity('')" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Пароль</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Пароль" required  oninvalid="this.setCustomValidity('Пароль обязателен')"
 oninput="setCustomValidity('')" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Пароль ещё раз</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="password-confirmation" class="form-control"
                               id="password-confirm" placeholder="Пароль ещё раз" required  oninvalid="this.setCustomValidity('Пароль обязателен')"
 oninput="setCustomValidity('')" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Классный преводаватель</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="teacherName" class="form-control" id="name"
                               placeholder="Светлана Васильевна Попова" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Область деятельности</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="WorkScope" class="form-control" id="name"
                               placeholder="Врач, программист, учитель, т.д." >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Пожелание Лицею</label>
            </div>
            <div class="col-md-6">
      
              <div class="form-group" style="margin-left:  2.6rem">
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
        
           </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>


           <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Город в котором находитесь</label>
            </div>
            <div class="col-md-6">
      
        
        <div id="search" class = "form-group" style="margin-left:  2.6rem" required>
            <div class="row">
            <div class = "col-md-6">
            <input type="text" name="addr" value="" id="addr" class ="addr form-control" size="10" />
        </div>
        <div class = "col-md-6">
            <button type="button" class="btn btn-info" onclick="addr_search();">Поиск</button>
            </div>
        </div>
            <div id="results"/>
        </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Кем вы являетесь?</label>
            </div>
            <div class="col-md-6">
       <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select name="Status" class = "form-group form-control" style="margin-left:  2.6rem " >
   <option value="Teacher" >Учитель</option>
   <option value="Alumni" selected="selected">Ученик</option>
   
    </select>
            </div>
        </div>
    </div>
    <br/>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plu "></i> Зарегистрироваться</button>
            </div>
        </div>



         <input type="hidden" name="lat" value="" id="lat" class ="lat" size="10" / >
   <input type="hidden" name="lon" value="" id="lon" class ="lon" size="10" / >


    </form>
   

</div>


    <script>
       
function chooseAddr(lat1, lng1, lat2, lng2, osm_type) {
    console.log(lat1 + "/" + lng1);
    $('#results').empty();
    $('<b>', { html: "Вы выбрали адрес: " + osm_type }).appendTo('#results');
    $("#realAddr").val(lat1 + "/" +  lng1);
	$("#lat").val(lat1);
	$("#lon").val(lng1);

}

function addr_search() {
    var inp = document.getElementById("addr");

    $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + inp.value, function(data) {
        var items = [];

        $.each(data, function(key, val) {
            bb = val.boundingbox;
            items.push("<li><a href='#' onclick='chooseAddr(" + bb[0] + ", " + bb[2] + ", " + bb[1] + ", " + bb[3]  + ", \"" + val.display_name + "\");return false;'>" + val.display_name + '</a></li>');
        });


        $('#results').empty();
        if (items.length != 0) {
            $('<p>', { html: "Нажмите на адрес, чтобы выбрать:" }).append('#results');
            $('<ul/>', {
                'class': 'my-new-list',
                html: items.join('')
            }).appendTo('#results');
        } else {
            $('<p>', { html: "Город не найден." }).append('#results');
        }
    });
}

    </script>


  <!–– END OF REGISTRATION FORM––>

 <!–– FOOTER––>

 <footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3"> <b>2019</b> Таллиннский Линнамяэский Русский Лицей:
    <a href="http://www.linnamae.tln.edu.ee/ "> http://www.linnamae.tln.edu.ee/ </a>
  </div>

  <!–– END OF FOOTER––>
 
</footer>
</div>