<div style="background-color:#F8F9FA;">

 {{>navbar reg='active'}}

 <div class="container">
    <form class="form-horizontal" role="form" method="POST" action="/signup">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class = "text-center">Регистрация</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="firstName">Имя</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="firstName" class="form-control" id="firstName"
                               placeholder="Павел" required="" autofocus oninvalid="this.setCustomValidity('Имя и Фамилия обязательны')"
 oninput="setCustomValidity('')"  >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="lastName">Фамилия</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="lastName" class="form-control" id="lastName"
                               placeholder="Гуляев" required="" autofocus oninvalid="this.setCustomValidity('Имя и Фамилия обязательны')"
 oninput="setCustomValidity('')"  >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail </label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="name@mail.com" required oninvalid="this.setCustomValidity('Электронная почта обязательна')"
 oninput="setCustomValidity('')" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Пароль</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Пароль" required  oninvalid="this.setCustomValidity('Пароль обязателен')"
 oninput="setCustomValidity('')" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Пароль ещё раз</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="password-confirmation" class="form-control"
                               id="password-confirm" placeholder="Пароль ещё раз" required  oninvalid="this.setCustomValidity('Пароль обязателен')"
 oninput="setCustomValidity('')" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="teacherName">Классный руководитель</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="teacherName" class="form-control" id="teacherName" required
                               placeholder="Светлана Васильевна Попова" oninvalid="this.setCustomValidity('Учитель обязателен')"
 oninput="setCustomValidity('')">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="workScope">Область деятельности</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="workScope" class="form-control" id="workScope"
                               placeholder="Врач, программист, учитель, т.д." >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="meaning">Чем для Вас стал Лицей?</label>
            </div>
            <div class="col-md-6">
      
              <div class="form-group" style="margin-left:  2.6rem">
                 <textarea class="form-control" id="meaning" name="meaning" rows="3" ></textarea>
        
           </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
	
     <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="contacts">Как с Вами связаться?</label>
            </div>
            <div class="col-md-6">
      
              <div class="form-group" style="margin-left:  2.6rem">
                 <textarea class="form-control" id="contacts" name="contacts" rows="3" placeholder="Укажите контакты, которыми могут воспользоваться прочие выпускники Лицея"></textarea>
        
           </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="friends">С кем из лицеистов Вы общаетесь до сих пор?</label>
            </div>
            <div class="col-md-6">
      
              <div class="form-group" style="margin-left:  2.6rem">
                 <textarea class="form-control" id="friends" name="friends" rows="3" ></textarea>
        
           </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>

	   <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="addr">Город в котором находитесь</label>
            </div>
            <div class="col-md-6">
      
        
        <div id="search" class = "form-group" style="margin-left:  2.6rem" >
            <div class="row">
            <div class = "col-md-6">
            <input type="text" required name="addr" value="" id="addr" class ="addr form-control" size="10" oninvalid="this.setCustomValidity('Город обязателен')"
 oninput="setCustomValidity('')" />
        </div>
        <div class = "col-md-6">
            <button type="button" class="btn btn-info" onclick="addr_search();">Поиск</button>
            </div>
        </div>
            <div id="results"/>
        </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
    </div>

    <br/>

  <input type="hidden" name="lat" value="" id="lat" class ="lat" size="10">
  <input type="hidden" name="lon" value="" id="lon" class ="lon" size="10">
  <input type="hidden" name="display_name" id="display_name" class ="display_name" size="10">
  
	
	  <div class="row mt-4">
            <div class="col-md-3 field-label-responsive">
                <label for="graduation_year">Год выпуска:</label>
            </div>
            <div class="col-md-6">
       <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select name="graduation_year" class = "form-group form-control" style="margin-left:  2.6rem ">
    <option value="2018">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
    <option value="2000">2000</option>
    <option value="1999">1999</option>
    <option value="1998">1998</option>
    <option value="1997">1997</option>
    <option value="1996">1996</option>
    <option value="1995">1995</option>
    <option value="1994">1994</option>
    <option value="1993">1993</option>
    <option value="1992">1992</option>
    <option value="1991">1991</option>
    <option value="1990">1990</option>
    <option value="1989">1989</option>
    <option value="1988">1988</option>
</select>
            </div>
        </div>
    </div>
	
    <br/>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plu "></i> Зарегистрироваться</button>
            </div>
        </div>
    </form>
   

</div>
 <script>
       
function chooseAddr(lat1, lng1, lat2, lng2, display_name) {
    console.log(lat1 + "/" + lng1 + "/" + display_name);
    $('#results').empty();
    $("#realAddr").val(lat1 + "/" +  lng1);
    $('<b>', { html: "Вы выбрали адрес: " + display_name }).appendTo('#results');
	$("#lat").val(lat1);
	$("#lon").val(lng1);
    $("#display_name").val(display_name);
  
}

function addr_search() {
    let inp = document.getElementById("addr");
    
    $.getJSON('https://geocode-maps.yandex.ru/1.x/?format=json&apikey=d61231e6-cea5-435c-9616-8e5f25597fda&geocode=' + inp.value, function(data) {
        let items = [];
        let temp = 0;
     
        let realData = data.response.GeoObjectCollection.featureMember;
        console.log(realData.length);
          if(realData.length != 0) {
        $.each(realData, function(key, val) {

                let coords = val.GeoObject.Point.pos.split(" ");
                console.log(val.GeoObject.metaDataProperty.GeocoderMetaData.kind);
                 if(val.GeoObject.metaDataProperty.GeocoderMetaData.kind == "locality"){
            items.push("<li><a href='#' onclick='chooseAddr(" + coords[0] + ", " + coords[1] + ", " + coords[0] + ", " + coords[1] + ", \"" + val.GeoObject.metaDataProperty.GeocoderMetaData.text + "\");return false;'>" + val.GeoObject.metaDataProperty.GeocoderMetaData.text + '</a></li>');
            temp++;
        }
        });
    }
        if(temp == 0) {
           items.push("<p><b>Город не найден.</b></p>");
         }
    else if(data.length == 0){
         console.log("No location found");
    items.push("<p><b>Город не найден.</b></p>");
}
  $('#results').empty();
            $('<ul/>', {
                'class': 'my-new-list',
                html: items.join('')
            }).appendTo('#results');
    });
}
</script>

    

{{>footer}}

</div>